@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
* {
	font-family: 'SUITE-Regular';
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

html{
	background-size: cover;
	-webkit-text-size-adjust: 100%;
}
body{
	line-height: 1.42857143;
	background-color: #fffdf2;
}
img{
	vertical-align: unset;
}
/* ===============네비바 css=================== */

.nav {
  margin: auto;
  padding: 7px 0 7px 0;
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f2ea;
  text-decoration: none;
  height: auto;
  max-height: 50px;
  align-items: center;
  justify-content: center; /* 요소를 가로 중앙에 정렬 */
}

.nav > div > ul > li > a {
  color: black; /* 글씨 색상을 검정색으로 설정 */
}
.nav img {
  object-fit: contain; 
}
.nav after{
	content : "";
  	display : block;
  	clear : both;
}
.nav > div > ul {
	list-style-type:none;
	text-align: center;
	margin: 0;
	padding: 0;
	vertical-align: center;
}

.nav > div > ul > li {
	display:inline;
	position: relative;
	margin: 0% 3%;
	padding: 0;
	text-decoration: none;
	vertical-align: center;
}
.nav > div > ul > li > a {
	font-size: 18px;
 	position: relative;
  	padding: 10px 15px;
  	text-decoration: none;
  	vertical-align: center;
}
.nav > div > ul > li > a:hover{
	color: gray;
}
.menu {
  position: relative;
  margin: auto !important; /* 가로 중앙 정렬 */
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
.loginmenu{
	cursor : pointer;
	flex-grow: 0;
	font-size: 18px;
}
.dropdown-menu {
	box-sizing: border-box;
	border-radius: 3%;
    position: absolute;
    display:none !important;
    z-index: 100;
    list-style: none;
    background-color: gray;
    font-size: 15px;
    min-width: 120px;
    padding: 10% 0;
    margin-left: -55%;
    left: auto;
    top: auto;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    text-align: center;
}
.dropdown-menu > li{
	padding: 5% 0;
}
.dropdown-menu > li > a:hover{
	background-color: #c2c2c2;
	color: white;
}
.dropdown-menu > li > a{
	color: white;
	text-decoration: none;
	padding: 3px 20px;
	display: block;
	text-align:center;
}
.loginmenu ul > li:hover .dropdown-menu{
	display:block !important;
	opacity: 1;
	color: gray;
}
.logo{
	display:block;
	margin: auto;
	padding: 0;
	text-align: center;
}    
