@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family: 'Nanum Gothic';
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}


html{
	background-size: cover;
	-webkit-text-size-adjust: 100%;
}
body{
	line-height: 1.42857143;
}
nav{
	margin-bottom: 40px;
}
h1 {
	font-family: 'Hanna';
	text-align: center;
}
h2 {
	font-family: 'Hanna';
}
img{
	vertical-align: unset;
}

/* ===============네비바 css=================== */

.nav {
  	margin: auto;
  	padding: 10px 0 10px 0;
  	border-top: 5px;
  	list-style: none;
  	background-color: #cec7b4;
  	text-decoration: none;
  	height: auto;
  	max-height: 50px;
  	display: flex;
  	align-items: center;
}
.nav img {
  object-fit: contain; 
}
.nav after{
	content : "";
  	display : block;
  	clear : both;
}
.nav > div > ul {
	list-style-type:none;
	/*text-align: center;  메뉴 가운데 정렬*/
	margin: 0;
	padding: 0;
}

.nav > div > ul > li {
	display:inline;
	position: relative;
	margin: 5px 30px;
	padding: 0;
	text-decoration: none;
}
.nav > div > ul > li > a {
	font-size: 18px;
 	position: relative;
  	color: white;
  	padding: 10px 15px;
  	text-decoration: none;
}
.nav > div > ul > li > a:hover{
	color: #2d2d2d;
}
.menu{
	flex-grow: 7;
	position: relative;
}
.menu > ul > li{
	padding-right: 5% !important;
}
.loginmenu{
	margin-left: auto;
	cursor : pointer;
	padding: 0;
	flex-grow: 1.5;
	position: absolute;
	right: 0;
}
.dropdown-menu {
	box-sizing: border-box;
	border-radius: 3%;
    position: absolute;
    display:none;
    z-index: 100;
    list-style: none;
    background-color: gray;
    font-size: 18px;
    min-width: 120px;
    padding: 10% 0;
    margin-top: 8%;
    margin-left: 20%;
    left: auto;
    top: auto;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    text-align: center;
}
.dropdown-menu > li{
	padding: 5% 0;
}
.dropdown-menu > li > a:hover{
	background-color: #c2c2c2;
	color: white;
}
.dropdown-menu > li > a{
	color: white;
	text-decoration: none;
	padding: 3px 20px;
	display: block;
}
.loginmenu ul > li:hover .dropdown-menu{
	display:block;
	opacity: 1;
}
.logo{
	margin-right: auto;
	padding: 0;
	text-align: left;
	flex-grow: 0.3;
}

/* ==============테이블================ */

.posttable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

.posttable th,
.posttable td {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  
}

.posttable th {
  background-color: #f5f2ea;
}

.posttable tr {
  border: 1px solid #ddd;
}

.posttable tr:hover {
  background-color: #f5f5f5;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
