@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
* {
	font-family: 'SUITE-Regular';
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

html{
	background-size: cover;
	-webkit-text-size-adjust: 100%;
}
body{
	line-height: 1.42857143;
	background-color: #fffdf2;
}
/* nav{
	margin-bottom: 40px;
} */
img{
	vertical-align: unset;
}

/* ===============네비바 css=================== */

/* .nav {
  	margin: auto;
  	padding: 7px 0 7px 0;
  	border-top: 5px;
  	list-style: none;
  	background-color: #cec7b4;
  	text-decoration: none;
  	height: auto;
  	max-height: 50px;
  	display: flex;
  	align-items: center;
  	vertical-align: center;
}
.nav img {
  object-fit: contain; 
}
.nav after{
	content : "";
  	display : block;
  	clear : both;
}
.nav > div > ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	vertical-align: center;
}

.nav > div > ul > li {
	display:inline;
	position: relative;
	margin: 5px 30px;
	padding: 0;
	text-decoration: none;
	vertical-align: center;
}
.nav > div > ul > li > a {
	font-size: 18px;
 	position: relative;
  	color: white;
  	padding: 10px 15px;
  	text-decoration: none;
  	vertical-align: center;
}
.nav > div > ul > li > a:hover{
	color: #2d2d2d;
}
.menu{
	flex-grow: 7;
	position: relative;
}
.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
.menu > ul > li{
	padding-right: 5% !important;
}
.loginmenu{
	margin-left: auto;
	cursor : pointer;
	padding: 0;
	flex-grow: 1.5;
	position: absolute;
	right: 0;
}
.dropdown-menu {
	box-sizing: border-box;
	border-radius: 3%;
    position: absolute;
    display:none;
    z-index: 100;
    list-style: none;
    background-color: gray;
    font-size: 15px;
    min-width: 120px;
    padding: 10% 0;
    margin-top: 8%;
    margin-left: 20%;
    left: auto;
    top: auto;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    text-align: center;
}
.dropdown-menu > li{
	padding: 5% 0;
}
.dropdown-menu > li > a:hover{
	background-color: #c2c2c2;
	color: white;
}
.dropdown-menu > li > a{
	color: white;
	text-decoration: none;
	padding: 3px 20px;
	display: block;
}
.loginmenu ul > li:hover .dropdown-menu{
	display:block;
	opacity: 1;
}
.logo{
	display:block;
	margin: auto;
	padding: 0;
	text-align: center;
} */

/* ================글 목록 테이블================ */

.posttable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0;
  background-color: white;
}

.posttable th,
.posttable td {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  
}

.posttable th {
  background-color: #f5f2ea;
}

.posttable tr {
  border: 1px solid #ddd;
}

.posttable tr:hover {
  background-color: #f5f5f5;
}

.container {
padding: 1% 5%;
display: flex; 
justify-content: center;
flex-direction: column;
width: 80%;
margin: auto;
}

.bbscontainer {
padding: 1% 5%;
display: flex; 
justify-content: center;
flex-direction: column;
width: 80%;
margin: auto;
}

.container img {
        max-width: 100%;
        height: auto;
    }

/* 게시판 어딘지 표시하는거 */
.board {
  color: gray;
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* =====글 내용 출력====== */
.viewtable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0;
  background-color: white;
}

.viewtable td {
  padding: 10px 30px 10px 30px;
  font-size: 12px;
}

.viewtable th {
  background-color: #f5f2ea;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.viewect{
	color: gray;
	font-size: 10px;
}

.plslogin{
	text-align: center; 
	border: 1px solid #dddddd;
	color: gray;
	font-size: 12px;
	padding: 10px;
}

/* 검색부분 */
.search-form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	text-align: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
	padding: 10px;
	font-size: 13px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	outline: none;
}

.search-form button {
	padding: 10px 20px;
	font-size: 13px;
	background-color: #f5f2ea;
	border: none;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

/* ========댓글========== */
.commentlist {
	font-size: 12px;
	color: black;
	border: 1px #dddddd;
	background-color: #f5f2ea;
	text-align: center;
	width: 100%;
}

.commentform {
	width: 100%;
	height: 100px;
	padding-top: 5px;
	padding-left: 5px;
	border: none;
}

.commenttable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0;
  background-color: white;
}

.commenttable th,
.commenttable td {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  
}

.commenttable th {
  background-color: #f5f2ea;
}

.commenttable tr {
  border: 1px solid #ddd;
}

/* ==============버튼 디자인================ */
.button {
  background-color: #f5f2ea;
  border: 1px solid #ddd;
  padding: 8px 16px;
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
  place-self: flex-end;
}

.button:hover {
  background-color: #e2dfd5;
}

.page-buttons a {
        color: black;
        text-decoration: none;
    }
    
.page-buttons a:hover {
        background-color: #f2f2f2;
    }

.page-buttons a:not(:last-child) {
        margin-right: 10px;
    }

/* =============관리자 페이지=============== */

.hidden {
  display: none;
}
.visible {
  display: table-row;
}

/* ==============메인페이지 슬라이드=============== */
    .slideshow {
      width: 100%; /* 슬라이드쇼 컨테이너의 가로 크기 */
      overflow: hidden; /* 넘치는 이미지 숨김 처리 */
      margin-bottom: 3%;
    }

    .slideshow img {
      width: 100%; /* 이미지의 가로 크기 */
      height: auto; /* 이미지의 세로 크기 자동 조정 */
      display: none; /* 초기에 이미지 숨김 처리 */
    }

    /* 슬라이드 전환 애니메이션 */
    @keyframes slide {
      0% {
        transform: translateX(0); /* 시작 위치 */
      }
      100% {
        transform: translateX(-100%); /* 왼쪽으로 이동 */
      }
    }

    /* 슬라이드 이미지가 보이도록 표시 */
    .slideshow img.active {
      display: block;
      animation: slide 5s infinite; /* 3초마다 애니메이션 반복 */
    }
    .golist {
   text-align: center;
   font-weight: bold;
   color: black;
}
.previousp {
   padding-top: 10px;
   margin-top: 10px;
   text-align: left;
   width: 32%;
}
.nextp {
   padding-top: 10px;
   margin-top: 10px;
   text-align: right;
   width: 32%;
}
.noneline {
   text-decoration: none;
}