@charset "EUC-KR";
* {
	font-family: 'Nanum Gothic';
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

html{
	background-size: cover;
	-webkit-text-size-adjust: 100%;
}

body{
	line-height: 1.42857143;
}

nav{
	margin-bottom: 40px;
}

h1 {
	font-family: 'Hanna';
	text-align: center;
}

h2 {
	font-family: 'Hanna';
}

h4 {
	font-family: 'Hanna';
}

img{
	vertical-align: unset;
}
/* ==============본문 디자인============== */
.boardview {
	width: 90%;
	padding-left: 10%;
	border: 1px black;
}
.boardTitle {
	font-size: 20px;
	text-align: left;
	color: #cec7b4;
	padding-bottom: 10px;
}
.title {
	font-size: 30px;
	color: black;
	padding-bottom: 3px;
	border: 1px black;
	background-color: #F5ECCE;
	text-align: center;
	width: 100%;
}
.content {
	color: black;
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 15px;
}

/* =================댓글 디자인=================== */
.commentlist {
	font-size: 15px;
	color: black;
	padding-bottom: 3px;
	border: 1px black;
	background-color: #F5ECCE;
	text-align: center;
	width: 100%;
}
.commentform {
	width: 100%;
	height: 100px;
	padding-top: 5px;
	padding-left: 5px;
	border: none;
}
.commentview {
	background-color: #eeeeee;
	color: red;	
	text-align: center;	
	width: 100%;
	border: 1px solid #dddddd;
}
.btns {
	width: 100%;
	height: 100px;
	background-color: #F7F2E0;	
	font-weight: bold;
	border: 0;
}
.cbtn {
	width: 5%;
	height: 30px;
	background-color: #BDBDBD;
	color: white;
	border: 0;
	text-align: center;
	font-size: 18px;
	margin-left: 95%; 
}
.needlogin {
	background-color: white;
	height: 20px;
	color: black;
}

/*==========기타============*/
.white{
	color: white;
}
.clistinfo {
	float: left;
	text-align: center;
	width: 100%;
	border: 1px black;
	padding: 0;
	margin: 0;
	background-color: white;
}
.golist {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.modify {
	text-decoration: none;
	color: black;
	background-color: #F5ECCE;
	text-align: right;
	width: 50px;
	height: 100px;
	border: 1px;
	margin-right: 20px;
	padding: 10px 15px;
}
.cdelete {
	text-decoration: none;
	color: black;
	background-color: #F5ECCE;
	width: 8%;
	height: 30px;
	padding: 10px 15px;
}
.previousp {
	padding-top: 10px;
	align: left;
}
.nextp {
	padding-top: 10px;
	align: right;
}


















